@model CaseTempus.Models.Cliente

<h4>Detalhes</h4>

<div class="row">
    <div class="col col-md-12">
        <a asp-controller="Home" asp-action="Index" class="btn btn-danger"><i class="fas fa-arrow-circle-left"></i> Voltar</a>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label asp-for="Nome"></label>
                <input asp-for="Nome" class="form-control" value='@Model.Nome' maxlength="150" size="50" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="CPF"></label>
                <input asp-for="CPF" class="form-control cpf" value='@Model.CPF' minlength="11" maxlength="11" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento"></label>
                <input asp-for="DataNascimento" type="text" value='@Model.DataNascimento.ToString("dd/MM/yyyy")' class="form-control data" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="DataCadastro"></label>
                <input asp-for="DataCadastro" type="text" value='@Model.DataCadastro.ToString("dd/MM/yyyy")' class="form-control data" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="RendaFamiliar"></label>
                <input asp-for="RendaFamiliar" type='text' value='@Model.RendaFamiliar.ToString("0.00")' class="form-control decimal" readonly/>
            </div>
        </div>
    </div>    
</div>