@model CaseTempus.Models.Cliente

<h4>Página Inicial</h4>

<style>
    .row {
        margin-bottom: 15px;
    }
</style>

<div class="row">
    <div class="col col-md-12">
        <a asp-controller="Home" asp-action="Cadastrar" class="btn btn-primary"><i class="fas fa-user"></i> Cadastrar</a>
    </div>
</div>

<div class="row">
    <div class="col col-md-12">
        <table class="table">
            <thead>
                <th style="width: 42px"></th>
                <th style="width: 42px"></th>
                <th style="width: 42px"></th>
                <th>Nome</th>
                <th>Renda</th>
            </thead>
            <tbody>
                @foreach (var item in Model.Clientes)
                {
                    <tr>
                        <td title="Ver mais"><a asp-controller="Home" asp-action="Detalhes" asp-route-id="@(item.Id)"><i class="fas fa-plus-circle text-primary"></i></a></td>
                        <td title="Editar"><a asp-controller="Home" asp-action="Editar" asp-route-id="@(item.Id)"><i class="fas fa-edit text-warning"></i></a></td>
                        <td title="Excluir"><a asp-controller="Home" asp-action="Excluir" asp-route-id="@(item.Id)"><i class="fas fa-trash-alt text-danger"></i></a></td>
                        <td>@item.Nome</td>
                        <td><div class='custom-badge @(item.RendaFamiliar <= 980 ? "bg-danger" : item.RendaFamiliar > 2500 ? "bg-success" : "bg-warning")'>R$ @item.RendaFamiliar.ToString("0.00").Split(',')[0]</div></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>